# идентификатор проекта
MCP_PROJECT_NAME=demo

# префикс докер-контейнера. Итоговое имя = Префикс + Идентификатор
MCP_CONTAINER_PREFIX=mcp-lsp

# используем latest, что бы при пересборке обновлялся BSL SL
MCP_LSP_BRIDGE_TAG=latest

# путь к каталогу проекта 1С, с которым будет работать этот экземпляр МСР 
HOST_PROJECTS_ROOT=D:/My Projects/Projects 1C

# под каким именем маунтится каталог проекта внутри контейнера
PROJECTS_ROOT=/projects

# Каталоги с кодом 1С (workspace roots)
# Поддерживается несколько каталогов через разделитель ";"
# Это нужно для работы с основной конфигурацией и расширениями одновременно
#
# Примеры:
# Один каталог:
#   WORKSPACE_ROOT=/projects/main-config
#
# Основная конфигурация + расширение:
#   WORKSPACE_ROOT=/projects/main-config;/projects/extension1
#
# Несколько расширений:
#   WORKSPACE_ROOT=/projects/main-config;/projects/ext-sales;/projects/ext-warehouse
#
WORKSPACE_ROOT=/projects/test-workspace

# Volume mode: ro or rw (rw нужен, что бы BSL LS мог редактировать код - операции переименования и другие)
PROJECTS_MOUNT_MODE=rw

# Container resources (огранчиения докер-контейнера. 
# Должны быть чуть выше чем ресурсы BSL LS, т.к. в контейнере живет не только он). 
# Можно отключить для динамического потребления 
#CONTAINER_MEMORY=8g
#CONTAINER_CPUS=4

# Directory on host containing `bsl-language-server.jar`
# Will be mounted read-only to: /opt/bsl-ls
BSL_LS_HOST_DIR=D:/My Projects/FrameWork 1C/mcp-lsp-bridge/bsl-ls

# Настройки запуска BSL LS. Потребление памяти зависит от размера проекта. 
# Если памяти не хватит - начнет сильно тупить. Лучше не жадничать
# По настройке BSL LS можно задать вопросы в канале Телеграм https://t.me/bsl_language_server
#Верхний потолок памяти
MCP_LSP_BSL_JAVA_XMX=6g
#Стартовый уровень памяти
MCP_LSP_BSL_JAVA_XMS=2g

# Logging (debug, info, warn, error)
MCP_LSP_LOG_LEVEL=error

